
<%= form_for @comment,url: "issue_comments_path",:remote => true,html: {multipart: true} do |f| %>
<%=image_tag current_user.avatar.url(:thumb)%>
<div class="panel panel-default">


<%=f.text_area :comment,class: "commfield panel-body form-control"%>


<div class="panel-footer">
<%=f.fields_for :comment_attachments do |ff|%>

<%=ff.file_field :attachment,class: "attach"%>
<%end%>
</div>
<%end%>
</div>



