<div id="fp">
	<h3><%=@issues.count%> Issues</h3>

	<div class="list-group fpapp" >
        <%@issues.each do |issue|%>
        
        <a href='#'class="list-group-item fpc" data-id = "<%=issue.id%>" data-title ="<%=issue.title%>" ><dt><%=issue.title %></dt>
		<p >#<%=issue.id%>
		opened <%=time_ago_in_words(issue.created_at)%> ago by <%=@user.user_name%></p></a>
		<%end%>
    </div>
	<p><%=link_to "New issue",'#',class: "new_issue btn btn-sm btn-success"%></p>
</div>


<div class="container newissue">
	<h1>New Issue</h1>
	<p><%=form_for(@issue) do |f| %></p>
	<p><%= f.text_field :title,placeholder: :title,class: "form-control"%></p>
	<p><%= f.text_area :description,placeholder: :description,class: "form-control"%></p>
	<p><%=link_to"CreateIssue",'#',class: "submit btn btn-sm btn-default"%>
	<%=link_to 'Back','#',class: "btn btn-sm btn-default back"%></p>

	<%end%>
</div>
<div class="container page-header fcp1">
<div class="oldcomments">
<h1 id="head1">something</h1>
</div>
<div class="commentscont">
<inpu id="hiddenfield" type="hidden">
<textarea class="form-control commfield" placeholder="Leave a comment"></textarea><br />
<p><button class="createcomment btn btn-sm btn-success">Comment</button></p>
</div>
</div>

<% content_for :javascript do %>

<script>
	$(document).ready(function(){
		$(".newissue").hide();
		$(".fcp1").hide();
		
		
		$(".new_issue").on("click",function(){
       		$("#fp").hide();
			$(".newissue").show();
			
			
       	});
       	$(".back").click(function(){
       		$(".newissue").hide(function(){
       		 $("#fp").show();	
       		});
		});
		$(".submit").click(function(){
			var title = $("#issue_title").val();
			var description = $("#issue_description").val();
			 if (title != '' && description != '') {
			$.ajax({
				url: "/issues",
				type: "POST",
				data:{'issue': {'title': title,'description': description}}
			}).done(function(response){
				
              var html ="<a href='#' class='list-group-item'><b>"+response.title+"</b><br>";
                  html += "<p>#"+response.id+"opened"+response.created_at+"ago</p></a>";
                 
                  
                  $(".fpapp").append(html);
                  $("#fp").show();
                  $(".newissue").hide();
                  $("#issue_title").val("");
			      $("#issue_description").val("");

                 });
			
            }
			else{
				alert("Fill out the fields");
			    }
			
        });
        $(".fpc").click(function(){
          var issueid = $(this).data("id");
          $("#hiddenfield").val(issueid);
          var issuetitle = $(this).data("title");
          var idtitle ="<h4>#"+issueid+ "<bold>"+issuetitle+"</bold></h4>";
          console.log(issueid); 
          $.ajax({
          	url: "/issues/"+issueid+"/comments",
          	type: "GET"
          }).done(function(response){
          	var html ="";
           if (response.length > 0){
            
           	 for(i in response){
           	 	
           	 html +="</h1><div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>commented on"+response[i].created_at+" ago</h3></div><div class='panel-body'>"+response[i].comment+"</div></div>";
           }
           $("#fp").hide();
           $(".fcp1").show();
           $("#head1").html(idtitle);
           
           $(".oldcomments").append(html);

          }
          else{
          	 
          	 html +="<p>no comments yet</p>";
          	 $("#fp").hide();
             $(".fcp1").show();
             $("#head1").html(idtitle);
             
             $(".oldcomments").append(html);
          }
          });
          
        });
            $(".createcomment").click(function(){
             var issuid = $("#hiddenfield").val();
             var comment = $(".commfield").val();
             if (comment != ""){
               $.ajax({
               	url: "/issues/"+issuid+"/comments",
               	type: "POST",
               	data:{'comment': {'comment': comment}}

               }).done(function(response){
                   var html ="</h1><div class='panel panel-default'><div class='panel-heading'><h3 class='panel-title'>commented on"+response.created_at+" ago</h3></div><div class='panel-body'>"+response.comment+"</div></div>";
                    $(".oldcomments").append(html);
                    $(".commfield").val("");

               });
             }
             else{
             	alert("leave your comment");
             }
            });
           
       });
</script>	
<%end%>	